/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'toolbar-theme' as toolbar;
@include mat.core();

$dark-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
  )
));


html {
  @include toolbar.theme($dark-theme)
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-toolbar {
  //Override the colors to create a dark sidenav.
  @include mat.all-component-colors($dark-theme);
}


.create-header{
  margin-top: 1rem;
  margin-bottom: 2rem;

  .main_text {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
  }

  .secondary_text{
    font-weight: 400;
    font-size: .8rem;
    color: rgba($color: #000000, $alpha: 0.5);
    line-height: .5;
  }
}
